* {
	box-sizing: border-box;
}

html, body {
	background-color: #000;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.frame {
	width: 100%;
	height: 100%;
	border-color: #FFF;
	border-style: solid;
	border-width: 23px 22px 23px 22px;
	border-image: url(frame.png) 23 22 23 22 repeat;
	position: relative;
	background-image: url(board.png);
	background-repeat: repeat;
	background-color: #006860;
}

.board.erasing {
	cursor: url('eraser.png') 15 15, crosshair;
}

.controls {
	position: absolute;
	bottom: 0;
	width: 100%;
	pointer-events: none;
	display: flex;
	flex-wrap: wrap;
}

.colors, .actions {
	pointer-events: initial;
	flex: 0 1 auto;
	display: flex;
	flex-wrap: wrap;
}

.colors {
	margin-right: auto;
}

.controls a {
	display: block;
	border: 1px solid #111;
	margin: 1px;
}

.colors a {
	width: 22px;
	height: 22px;
	font-size: 0;
}

.colors a.color-0 { background-color: #F0F0F0; }
.colors a.color-1 { background-color: #FF7F7F; }
.colors a.color-2 { background-color: #FFB27F; }
.colors a.color-3 { background-color: #FFE97F; }
.colors a.color-4 { background-color: #7FFF8E; }
.colors a.color-5 { background-color: #7FC9FF; }
.colors a.color-6 { background-color: #D67FFF; }
.colors a.color-7 { background-color: #FF7FB6; }

.actions a {
	background: #FFF;
	color: #000;
	font: 14px/20px sans-serif;
	padding: 0 5px;
	text-decoration: none;
}

.actions a.action-clear { color: #F00; }
